<div class="container mainContainer">
  <em class="fa fa-user" style="font-family:'FontAwesome', sans-serif;"></em>

<div *ngIf="success==true">
<div class="row justify-content-center">
  <div class="alert alert-success alert-dismissible">
    <a href="#" class="close" data-dismiss="alert" aria-label="close" id="response-success">&times;</a>
    {{ statusMessage }}
  </div>
  </div>
</div>

  <div class="row">
    <form [formGroup]="contactInfoForm" id="contactInfoForm" (ngSubmit)="updatesContactInfo()" class="col-md-12 text-left">

        <h4>Contact Information:</h4>

        <div class="form-group row">
            <div class="col-sm-1"></div>
                <label for="firstName" class="col-sm-4 col-form-label">First Name:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="firstName" name="firstName" formControlName="firstName" maxlength=30 value="{{ profileObject?.firstName }}">
                    <p class="error" *ngIf="(firstName.dirty || firstName.touched) && firstName.errors?.required">
                      First name is required.
                    </p>
                    <p class="error" *ngIf="firstName.errors?.pattern">
                      First name cannot contain numbers or symbols.
                    </p>
                    <p class="error" *ngIf="firstName.errors?.max">
                      First name must not exceed 30 characters.
                    </p>
                    <div *ngFor="let error of errorArray">
                      <p class="error" *ngIf="error.includes('number of characters')">{{ error }}</p>
                    </div>
                </div>

        </div>

        <div class="form-group row">
            <div class="col-sm-1"></div>
            <label for="lastName" class="col-sm-4 col-form-label">Last Name:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="lastName" name="lastName" formControlName="lastName" maxlength=30 value="{{ profileObject?.lastName }}">
                <p class="error" *ngIf="(lastName.dirty || lastName.touched) && lastName.errors?.required">
                  Last name is required.
                </p>
                <p class="error" *ngIf="lastName.errors?.pattern">
                  Last name cannot contain numbers or symbols.
                </p>
                <p class="error" *ngIf="lastName.errors?.max">
                  Last name must not exceed 30 characters.
                </p>
                <div *ngFor="let error of errorArray">
                  <p class="error" *ngIf="error.includes('number of characters')">{{ error }}</p>
                </div>
           </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-1"></div>
            <label for="user_email" class="col-sm-4 col-form-label">Email:</label>
            <div class="col-sm-4">
                <input type="email" class="form-control" id="email" aria-describedby="emailHelp" formControlName="email" value="{{ profileObject?.email }}" required>
                <p class="error" *ngIf="(email.dirty || email.touched) && email.invalid && email.errors.required">
                  Email is required.
                </p>
                <p class="error" *ngIf="email.errors?.pattern">
                  Invalid email format.
                </p>
                <div *ngFor="let error of errorArray">
                  <p class="error" *ngIf="error.includes('Email')">{{ error }}</p>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-1"></div>
            <label for="phone" class="col-sm-4 col-form-label">Phone:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="phone" formControlName="phone" required>
                <p class="error" *ngIf="(phone.dirty || phone.touched) && phone.invalid && phone.errors.required">
                  Phone number is required.
                </p>
                <p class="error" *ngIf="phone.errors?.pattern">
                  Phone number must be in format xxx-xxx-xxxx.
                </p>
                <div *ngFor="let error of errorArray">
                  <p class="error" *ngIf="error.includes('Phone')">{{ error }}</p>
                </div>
            </div>
          </div>

          <div class="form-group row justify-content-center">
          <button id="submit" type="submit" [disabled]="!contactInfoForm.valid || !contactInfoForm.dirty" class="btn btn-primary myBtn">Save</button>
          </div>
      </form>
  </div>
</div>
