<div class="container mainContainer">
  <i class="fa fa-user" style="font-family:'FontAwesome';"></i>

<div *ngIf="success==true">
<div class="row justify-content-center">
  <div class="alert alert-success alert-dismissible">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    {{ statusMessage }}
  </div>
  </div>
</div>

<div *ngIf="errorExists==true">
  <div class="row justify-content-center">
    <div class="alert alert-danger alert-dismissible">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      An error exists on the form.
    </div>
    </div>
  </div>

  <div class="row">
    <form [formGroup]="contactInfoForm" (ngSubmit)="updatesContactInfo()" class="col-md-12 text-left">
    
        <h4>Contact Information:</h4>

        <div class="form-group row">
            <div class="col-sm-1"></div>
                <label for="firstName" class="col-sm-4 col-form-label">First Name:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="firstName" name="firstName" formControlName="firstName" value="{{ profileObject?.firstName }}" required>
                    <span class="text-danger" *ngIf="(firstName.dirty || firstName.touched) && firstName.invalid && firstName.errors.required">
                      First name is required.
                    </span>
                </div>

        </div>

        <div class="form-group row">
            <div class="col-sm-1"></div>
            <label for="lastName" class="col-sm-4 col-form-label">Last Name:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="lastName" name="lastName" formControlName="lastName" value="{{ profileObject?.lastName }}">
                <span class="text-danger" *ngIf="(lastName.dirty || lastName.touched) && lastName.invalid && lastName.errors.required">
                  Last name is required.
                </span>
           </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-1"></div>
            <label for="user_email" class="col-sm-4 col-form-label">Email:</label>
            <div class="col-sm-4">
                <input type="email" class="form-control" id="user_email" aria-describedby="emailHelp" formControlName="email" value="{{ profileObject?.email }}" required>
                <span class="text-danger" *ngIf="(email.dirty || email.touched) && email.invalid && email.errors.required">
                  Email is required.
                </span>
                <span class="text-danger" *ngIf="email.errors?.pattern">
                  Invalid email.
                </span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-1"></div>
            <label for="phone" class="col-sm-4 col-form-label">Phone:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="phone" formControlName="phone" required>
                <span class="text-danger" *ngIf="(phone.dirty || phone.touched) && phone.invalid && phone.errors.required">
                  Phone number is required.
                </span>
                <span class="text-danger" *ngIf="phone.errors?.pattern">
                  Invalid phone number format.
                </span>
            </div>
          </div>

          <div class="form-group row justify-content-center">
          <button type="submit" [disabled]="!contactInfoForm.valid || !contactInfoForm.dirty" class="btn btn-primary myBtn">Save</button>
          </div>
      </form>
  </div>
</div>