<div class="container centerMe">
  
  <div class="mt-2 d-flex">
    <div class="flex-grow-1"></div>
    
    <button *ngIf="!showPast" (click)="showPastTrips()" type="button" class="btn btn-secondary ml-auto mx-1 d-block">Show Past Trips</button>
    <button *ngIf="showPast" (click)="showPastTrips()" type="button" class="btn btn-secondary ml-auto mx-1 d-block">Show Future Trips</button>

    <button *ngIf="!showAll && isSchedule()" (click)="showAllTrips()" type="button" class="btn btn-secondary ml-auto d-block">Include Occupied Trips</button>
    <button *ngIf="showAll && isSchedule()" (click)="showAllTrips()" type="button" class="btn btn-secondary ml-auto d-block">Only Show Available Trips</button>
  </div>
    <div class="card mt-2">
    <table class="table table-hover">
      <caption>{{caption}}</caption>
      <thead>
        <th scope="col">
          Name
        </th>
        <th scope="col">
          Date
        </th>
        <th scope="col">
          Driver
        </th>
        <th scope="col">
          Departure
        </th>
        <th scope="col">
          Destination
        </th>
        <th scope="col">
          Open Seats
        </th>
        <th scope="col">
          Join/Remove
        </th>
      </thead>
      <tbody>
        <tr *ngFor="let trip of trips">
        <ng-container *ngIf="filterByOpenSeats(trip) && checkDate(trip.tripDate)">
          <td>
            {{trip.name}} 
          </td>
          <td>
            {{trip.tripDate | date}}
          </td>
          <td>
            {{trip.driver.firstName + " " + trip.driver.lastName}}
          </td>
          <td>
            {{trip.departure.street + " " + trip.departure.city + " " + trip.departure.state + " " + trip.departure.zip}}
          </td>
          <td>
            {{trip.destination.street + " " + trip.destination.city + " " + trip.destination.state + " " + trip.destination.zip}}
          </td>
          <td *ngIf="trip.driver.userId == this.id">
            <select (change)="updateAvailableSeats(trip, $event)" value={{trip.availableSeats}}>
              <option *ngFor="let seat of seatChangeOptions(trip)" [value]="seat">
                  {{seat}}
              </option>
            </select>
          </td>
          <td *ngIf="trip.driver.userId !== this.id">
            {{trip.availableSeats}}
          </td>

          <td>
            <div *ngIf="trip.driver.userId !== this.id">
              <button *ngIf="!onTrip(trip) && trip.availableSeats > 0 && !showPast; else elseBlock" type="button" (click)="addTrip(trip)" class="btn btn-success" data-toggle="modal" data-target="#addedModal">Register</button>
              <ng-template #elseBlock>
                <button type="button" *ngIf="onTrip(trip)" (click)="removeTrip(trip)" class="btn btn-danger" data-toggle="modal" data-target="#removedModal">Remove</button>
              </ng-template>
            </div>
          </td>
        </ng-container>
        </tr>
      
      </tbody>
    </table>

    <div class="modal" id="addedModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenteredLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" (click)="refresh()" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <h2>Seat Reservation Added!</h2>
          </div>
        </div>
      </div>
    </div>

    <div class="modal" id="removedModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenteredLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" (click)="refresh()" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <h2>Seat Reservation Removed!</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
