<div class="container mainContainer">
    <i class="fa fa-users" style="font-family:'FontAwesome';"></i>
    
    <div *ngIf="errorExists == true">
        <div class="row justify-content-center">
            <div class="alert alert-danger col-5">{{ errorMessage }}</div>
        </div>
    </div>

    <h4 class="title">Membership:</h4>

    <div class="innercontainer">

        <!------------------BATCH INFO------------------>
        <div class="form-group row">
            <div class="col-sm-12">
                <h5>Batch:</h5>
                <span> {{profileObject.batch.batchNumber}} - {{profileObject.batch.batchLocation}}</span>
            </div>
        </div>
         
        <!------------------ACTIVE STATUS------------------>
        <div class="form-group row">
            <div class="col-sm-4">
                <h6>Status:</h6>
                <select class="form-control" [(ngModel)]="isActive" (change)="disableButton()">
                    <option value="true">Active</option>
                    <option value="false">Inactive</option>
                </select>
            </div>
        </div>

        <!------------------DRIVER STATUS------------------>
        <div class="form-group row">
            <div class="col-sm-4">
                <h6>Role:</h6>
                <select class="form-control" [(ngModel)]="isDriver" (change)="disableButton()">
                    <option value="true">Driver</option>
                    <option value="false">Rider</option>
                </select>
            </div>
        </div>
        <p *ngIf="success" class="success">{{success}}</p>

        <!------------------SUBMIT------------------>
        <div class="form-group row justify-content-center">
            <button type="submit" [disabled]="button" (click)="updatesMembershipInfo()" class="btn btn-primary myBtn">Save</button>
        </div>

    </div>

</div> 