<div class="container mainContainer">
    <i class="fa fa-users" style="font-family:'FontAwesome';"></i>
    
    <div *ngIf="errorExists == true">
        <div class="row justify-content-center">
            <div class="alert alert-danger col-5">{{ errorMessage }}</div>
        </div>
    </div>

    <h4 class="title">Membership:</h4>

    <div class="innercontainer">

        <!-- <form [formGroup]="membershipInfoForm" (ngSubmit)="updatesMembershipInfo()"> -->
            <div class="form-group row">
                <div class="col-sm-12">
                    <h5>Batch:</h5>
                    <span> {{profileObject.batch.batchNumber}} - {{profileObject.batch.batchLocation}}</span>
                </div>
            </div>
                    
            <div class="form-group row">
                <div class="col-sm-4 t">
                    <h6>Status:</h6>
                    <select class="form-control" id="status" [(ngModel)]=active value="{{profileObject.active}}">
                        <option value="true">Active</option>
                        <option value="false">Inactive</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-4 t">
                    <h6>Role:</h6>
                    <select class="form-control" id="role" [(ngModel)]=isDriver value="{{profileObject.driver}}">
                        <option value="true">Driver</option>
                        <option value="false">Rider</option>
                    </select>
                </div>
            </div>

            <div class="form-group row justify-content-center">
                <button type="submit" (click)="updatesMembershipInfo()" class="btn btn-primary myBtn">Save</button>
            </div>

        <!-- </form> -->
    </div>

</div>
            
       
    