<a (click)="openModal(template)">Sign up</a >
  
<ng-template #template >
  <form [formGroup]="signup">
    <p *ngIf="success != ''" class="success">{{success}}</p>
    <div class="modal-header">
      <h4 class="modal-title">Sign Up</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <label for="firstname">First Name</label>
      <input id="firstname" type="text" formControlName="fName" class="form-control" />
      <p *ngIf="signup.controls.fName.hasError('required')" class="error">First name required please enter one.</p>
      <p *ngIf="signup.controls.fName.hasError('minlength')" class="error">Name must be at least 3 characters long.</p>
      <p *ngIf="signup.controls.fName.hasError('pattern')" class="error">Please enter a valid name. Numbers and special characters not allowed and the first letter must be capitalized.</p>
      
      <label for="lastname">Last Name</label>
      <input (keydown)="lastNameError = ''" id="lastname" type="text" formControlName="lName" class="form-control" />
      <p *ngIf="signup.controls.fName.hasError('required')" class="error">Last name required please enter one.</p>
      <p *ngIf="signup.controls.fName.hasError('minlength')" class="error">Name must be at least 3 characters long.</p>
      <p *ngIf="signup.controls.fName.hasError('pattern')" class="error">Please enter a valid name. Numbers and special characters not allowed and the first letter must be capitalized.</p>

      <label for="email">Email</label>
      <input (keydown)="emailError = ''" id="email" type="email" formControlName="email" class="form-control"/>
      <p *ngIf="signup.controls.email.hasError('email')" class="error">Must enter a valid email address.</p>

      <label for="phoneNumber">Phone Number</label>
      <input (keydown)="phoneNumberError = ''" id="phoneNumber" type="text" formControlName="pNumber" class="form-control" />
      <p *ngIf="signup.controls.pNumber.hasError('pattern')" class="error">Phone number must be 10 numbers long.</p>

      <label for="userName">User Name</label>
      <input (keydown)="userNameError = ''" id="userName" type="text" formControlName="username" class="form-control" />
      <p *ngIf="userNameError != ''" class="error">{{userNameError}}</p>

      <!--<label for="password">Password</label>
      <input id="password" type="password" [(ngModel)]="password" class="form-control" />-->

      <label id="state">Batch</label>
      <select class="form-control">
            <option value="none" >  
            </option>
            <option *ngFor="let batch of batches" [ngValue]="batch">{{batch.batchNumber}} {{batch.batchLocation}}</option>
      </select>

      <label for="hAddress">Address</label>
      <input (keydown)="hAddressError = ''" id="hAddress" type="text" formControlName="streetAddress" class="form-control" />
      <p *ngIf="hAddressError != ''" class="error">{{hAddressError}}</p>

      <label for="Address2">Apt/Suite Number</label>
      <input (keydown)="hAddressError = ''" id="Address2" type="text" formControlName="streetAddress2" class="form-control" />
      <p *ngIf="hAddressError != ''" class="error">{{hAddressError}}</p>

      <label id="hCity">City</label>
      <input (keydown)="hCityError = ''" type="text" formControlName="city" class="form-control" />
      <p *ngIf="hCityError != ''" class="error">{{hCityError}}</p>

      <label id="hState">State</label>
      <select (keydown)="hStateError = ''" class="form-control" formControlName="state" id="hState" >
              <option value="none" selected disabled hidden>  
              </option>
              <option *ngFor="let state of states" value="{{state}}">{{state}}</option>
      </select>
      <p *ngIf="hStateError != ''" class="error">{{hStateError}}</p>

      <label id="hZip">Zip Code</label>
      <input (keydown)="hZipError = ''" type="number" formControlName="zip" class="form-control" />
      <p *ngIf="hZipError != ''" class="error">{{hZipError}}</p>

         
        <label for="drive">Ride? Drive? Both?</label>
        <select class="form-control" formControlName="driver" id="drive"> Driver
          <option value="rider">Rider</option>
          <option value="driver">Driver</option>
          <option value="both">Both</option>
        </select>      
      
      <div class="btn-container">
        <button type="submit" class="btn btn-primary register" [disabled]="signup.hasError('required')" (click)="submitUser()">Submit</button>
      </div>
    </div>
  </form>
</ng-template> 
