<a (click)="openModal(template)" id='signup-button'>Sign up</a>
  
<ng-template #template>
  <form [formGroup]="signup" id="signup-form">
    <div class="modal-header">
      <h4 class="modal-title">Sign Up</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()" id='close-modal'>
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <label for="firstname">First Name</label>
      <input id="firstname" type="text" formControlName="fName" class="form-control" />
      <p *ngIf="signup.controls.fName.hasError('required') && signup.controls.fName.touched" class="error">First name required please enter one.</p>
      <p *ngIf="signup.controls.fName.hasError('maxlength')" class="error">Name can not be more than 30 characters long.</p>
      <p *ngIf="signup.controls.fName.hasError('pattern')" class="error">Please enter a valid name. Numbers and special characters not allowed and the first letter must be capitalized.</p>
      
      <label for="lastname">Last Name</label>
      <input id="lastname" type="text" formControlName="lName" class="form-control" />
      <p *ngIf="signup.controls.lName.hasError('required') && signup.controls.lName.touched" class="error">Last name required please enter one.</p>
      <p *ngIf="signup.controls.lName.hasError('maxlength')" class="error">Name can not be more than 30 characters long.</p>
      <p *ngIf="signup.controls.lName.hasError('pattern')" class="error">Please enter a valid name. Numbers and special characters not allowed and the first letter must be capitalized.</p>
    
      <label for="email">Email</label>
      <input id="email" type="email" formControlName="email" class="form-control"/>
      <p *ngIf="signup.controls.email.hasError('required') && signup.controls.email.touched" class="error">Email required please enter one.</p>
      <p *ngIf="signup.controls.email.hasError('pattern')" class="error">Must enter a valid email address.</p>

      <label for="phoneNumber">Phone Number</label>
      <input id="phonenumber" type="text" formControlName="pNumber" class="form-control" />
      <p *ngIf="signup.controls.pNumber.hasError('required') && signup.controls.pNumber.touched" class="error">Phone number is required please enter one.</p>
      <p *ngIf="signup.controls.pNumber.hasError('pattern')" class="error">Phone number must be in format xxx-xxx-xxxx</p>

      <label for="userName">User Name</label>
      <input id="username" type="text" formControlName="username" class="form-control" />
      <p *ngIf="signup.controls.username.hasError('required') && signup.controls.username.touched" class="error">Username required please enter one.</p>
      <p *ngIf="signup.controls.username.hasError('minlength')" class="error">Username must be at least 3 characters long.</p>
      <p *ngIf="signup.controls.username.hasError('maxlength')" class="error">Username must be at most 12 characters long.</p>
      <p *ngIf="signup.controls.username.hasError('pattern')" class="error">Please enter a valid username. A username can only contain letters and numbers.</p>


      <label for="batch">Batch</label>
      <select class="form-control" id="batch" formControlName="batch">
            <option value="" disabled>Please Select One...  
            </option>
            <option *ngFor="let batch of batches" >{{batch.batchNumber}} {{batch.batchLocation}}</option>
      </select>
      <p *ngIf="signup.controls.batch.hasError('required') && signup.controls.batch.touched" class="error">Batch required please select one.</p>

      <label for="hAddress">Address</label>
      <input  id="hAddress" type="text" formControlName="streetAddress2" class="form-control" />
      <p *ngIf="signup.controls.streetAddress2.hasError('required') && signup.controls.streetAddress2.touched" class="error">Street Address required please enter one.</p>
      <p *ngIf="signup.controls.streetAddress2.hasError('pattern')" class="error">Street Address format is incorrect</p>

      <label for="Address2">Apt/Suite Number</label>
      <input id="hAddress2" type="text" formControlName="streetAddress" class="form-control" />      

      <label>City</label>
      <input  type="text" formControlName="city" class="form-control" id="hCity"/>
      <p *ngIf="signup.controls.city.hasError('required') && signup.controls.city.touched" class="error">A city is required please enter one.</p>
      <p *ngIf="signup.controls.city.hasError('pattern')" class="error">A city can only contain spaces and letters.</p>

      <label>State</label>
      <select class="form-control" formControlName="state" id="hState" >
        <option value="" disabled>Please Select One...  </option>
        <option *ngFor="let state of states" value="{{state}}">{{state}}</option>
      </select>
      <p *ngIf="signup.controls.state.hasError('required') && signup.controls.state.touched" class="error">State is required please choose one</p>

      <label>Zip Code</label>
      <input type="text" formControlName="zip" class="form-control" id="hZip"/>
      <p *ngIf="signup.controls.zip.hasError('required') && signup.controls.zip.touched" class="error">Zip code required please enter one.</p>
      <p *ngIf="signup.controls.zip.hasError('pattern')" class="error">Zip code can only contain 5 numbers.</p>
         
        <label>Ride? Drive? Both?</label>
        <select class="form-control" formControlName="driver" id="preference">
          <option value="" disabled>Please Select One...  
          </option>
          <option value="rider">Rider</option>
          <option value="driver">Driver</option>
          <option value="both">Both</option>
        </select>
        <p *ngIf="signup.controls.driver.hasError('required') && signup.controls.driver.touched" class="error">A selection is required.</p>      
      
      <div class="btn-container">
        <div *ngIf="httpSuccess==true">
          <div class="row justify-content-center">
            <div class="alert alert-success alert-dismissible">
              <a href="#" class="close" data-dismiss="alert" aria-label="close" id="response-success">&times;</a>
              Signup was successful!
            </div>
          </div>
        </div>
          
        <div *ngIf="httpError==true">
          <div class="row justify-content-center">
            <div class="alert alert-danger alert-dismissible">
              <a href="#" class="close" data-dismiss="alert" aria-label="close" id="response-error">&times;</a>
              There was a problem with our service. Please try again later.
            </div>
          </div>
        </div>      
        <button type="submit" class="btn btn-primary register" [disabled]="!signup.valid" (click)="submitUser()" id="submit">Submit</button>
      </div>

    </div>
  </form>
</ng-template> 
