
<div class="container mainContainer">
    <em class="fa fa-home" style="font-family:'FontAwesome', sans-serif;"></em>
       
        <h4>Location:</h4>
        <form [formGroup]="addressChange">
            <div class="form-group row">
                <div class="col-sm-1"></div>
                    <label for="address" class="col-sm-4 col-form-label" >Street Address:</label>
                    <div class="col-sm-4">
                        <input type="text" formControlName="address2" class="form-control" id="address">
                        <p *ngIf="addressChange.controls.streetAddress2.hasError('required') && addressChange.controls.streetAddress2.touched" class="error">Street Address required please enter one.</p>
                        <p *ngIf="addressChange.controls.streetAddress2.hasError('pattern')" class="error">Street Address format is incorrect</p>
                    </div>
            </div>
            
            <div class="form-group row">
                    <div class="col-sm-1"></div>
                <label for="address2" class="col-sm-4 col-form-label" >Apt/Ste NO:</label>
                <div class="col-sm-4">
                    <input type="text" formControlName="address1" class="form-control" id="address2">
                </div>
            </div>
        
            <div class="form-group row">
                    <div class="col-sm-1"></div>
                        <label for="city" class="col-sm-4 col-form-label">City:</label>
                        <div class="col-sm-4">
                        <input type="text" formControlName="city" class="form-control" id="city">
                        <p *ngIf="addressChange.controls.city.hasError('required') && addressChange.controls.city.touched" class="error">A city is required please enter one.</p>
                        <p *ngIf="addressChange.controls.city.hasError('pattern')" class="error">A city can only contain spaces and letters.</p>
                    </div>
            </div>
                
                <div class="form-group row">
                    <div class="col-sm-1"></div>
                    <label for="state" class="col-sm-4 col-form-label">State:</label>
                    <div class="col-sm-4">
                        <select class="form-control" formControlName="state" name="states" id="state">
                            <option *ngFor="let state of states" value="{{state}}">{{state}}</option>
                        </select>
                        <p *ngIf="addressChange.controls.state.hasError('required')" class="error">State is required please choose one</p>
                    </div>
                </div>

                <div class="form-group row">
                        <div class="col-sm-1"></div>
                            <label for="zipcode" class="col-sm-4 col-form-label">Zipcode:</label>
                            <div class="col-sm-4">
                            <input type="text" formControlName="zip" class="form-control" id="zipcode">
                            <p *ngIf="addressChange.controls.zip.hasError('required') && addressChange.controls.zip.touched" class="error">Zip code required please enter one.</p>
                            <p *ngIf="addressChange.controls.zip.hasError('pattern')" class="error">Zip code can only contain 5 numbers.</p>
                        </div>
                </div>
            
            <button type="submit" class="btn btn-primary myBtn" (click)="updatesContactInfo()">Save</button>
        </form>
    </div>
